.auth {
  text-align: center;
}

.app-body {
  background-color: #E5D4F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-white-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 306px;
  height: 477px;
  background: #FFFFFF;
  border-radius: 15px;
  padding-inline: 22px;
  padding-block: 34px;
}

.app-white-head {
  display: flex;
  justify-content: space-between;
}

.app-white-head .app-white-head__left, .app-white-head__right {
  display: flex;
  align-items: center;

  gap: 9px;
}

.app-white-head .app-white-head__left img {
  width: 30px;
  height: 30px;
}

.app-white-head .app-white-head__left h3 {
  margin: 0px;
}

.app-white-head .app-white-head__right img {
  width: 30px;
  height: 30px;

  opacity: .6;
  transition: opacity .25s ease-out 100ms,
}

.app-white-head .app-white-head__right img:hover {
  opacity: 1;
  transition: opacity .25s ease-out 100ms,
}