

.app-body {
  background-color: #E5D4F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .app-white-parent {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 80vh;
    background: #FFFFFF;
    border-radius: 15px;
    padding-inline: 22px;
    padding-block: 34px;
  }

      .app-white-head {
        display: flex;
        justify-content: space-between;
      }

          .app-white-head .app-white-head__left, .app-white-head__right {
            display: flex;
            align-items: center;

            gap: 9px;
          }

          .app-white-head .app-white-head__left img {
            width: 30px;
            height: 30px;
          }

          .app-white-head .app-white-head__left h3 {
            margin: 0px;
          }

          
          .app-white-head__right{
            position: relative;
            display: inline-block;
          }

          .setting-icon {
            width: 30px;
            height: 30px;

            opacity: .6;
            transition: opacity .25s ease-out 100ms;
          }

          .setting-icon:hover {
            cursor: pointer;
            opacity: 1;
            transition: opacity .25s ease-out 100ms,
          }

          .setting-icon:hover + .dropdown-menu-app{
            display: block;
          }
      
      .dropdown-menu-app {
        display: none;
        position: absolute;
        background-color: red;
        top: 32px;

        width: 150px;
        right: 0px;
        background: rgba(255, 255, 255, 0.88);
        box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.1);
        border-radius: 24px;
      }
      
      .dropdown-menu-app:hover {
        display: block;
      }
      
      .dropdown-menu-app__list {
        display: flex;
        justify-content: space-between;
        padding-inline: 26px;
      }

      .dropdown-menu-app__list:hover {
        cursor: pointer;
      }

      .dropdown-menu-app__list p{
        margin-block: 10px;
      }

      .dropdown-line {
        border-top: 1px solid rgba(0, 0, 0, 0.37);
      }

      .app-white-title {
        margin-top: 36px;
        margin-bottom: 23px;
      }

      .app-white-add_form {
        display: flex;
        gap: 9px;
        margin-bottom: 28px;
      }

        .app-white-add_form .input-text {
          box-sizing: border-box;
    
          width: 258px;
          height: 37px;
    
          border: 2px solid #9E9FA499;
          border-radius: 18px;
    
          padding-left: 23px;
          padding-right: 23px;
    
          transition: border .25s ease-out 100ms;
        }

        .app-white-add_form .input-text::placeholder {
          color: #9E9FA499;
        }
        
        .app-white-add_form .input-text:hover {
          border: 2px solid #9E9FA4;
        }
        
        .app-white-add_form .input-text:focus{
          outline: none;
          border: 2px solid #9E9FA4;
        }

        .app-white-add_form .image-button {
          width: 38px;
          opacity: .6;

          transition: opacity .25s ease-out 100ms;
        }
        
        .app-white-add_form .image-button:hover {
          opacity: 1;
        }

      .app-white__task-container {
        overflow: hidden;
        width: 315px;
      }

      .app-white__task-container:hover {
        overflow: scroll;
        overflow-x: hidden;
      }

          /* width */
          .app-white__task-container::-webkit-scrollbar {
            width: 4px;
            display: block;
          }

          /* Track */
          .app-white__task-container::-webkit-scrollbar-track {
            background: none; 
          }
          
          /* Handle */
          .app-white__task-container::-webkit-scrollbar-thumb {
            background: #D9D9D9;
          }
          
          /* Handle on hover */
          .app-white__task-container::-webkit-scrollbar-thumb:hover {
            background: #9E9FA4; 
          }

      .app-white__task {
        box-sizing: border-box;

        width: 305px;
        min-height: 58px;
        height: auto;

        background: #FEFEFE;
        border: 2px solid #D9D9D9;
        border-radius: 6.24px;
        margin-bottom: 17px;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        padding-inline: 15px;
        padding-block: 19px;

        transition: background .25s ease-out 100ms;
      }

      .app-white__task:hover {
        background: #F6F6F6;
      }

      .app-white__task__left {
        display: flex;
        gap: 8.5px;
        align-items: flex-start;
      }
      
          .app-white__task__left input{
            margin: 0px;
            margin-top: 3px;
          }

          .app-white__task__left p{
            margin: 0px;
            color: #4B4B4C;
            width: 230px;
          }

            .app-white__task__left input:checked + p{
              text-decoration: line-through;
              transition: text-decoration .25s ease-out 100ms;
            }
      
      .app-white__task__right {
        display: flex;
      }

      .task-setting {
        margin-top: 5px;
        display: none;
        opacity: .6;

        transition: opacity .25s ease-out 100ms;
      }
    
          .app-white__task:hover .task-setting {
            display: block;
          }

          .task-setting:hover {
            cursor: pointer;
            opacity: 1;
          }

